.App {
  text-align: center;
  width: 320px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #1a1b21;
  border-radius: 10px;
}

img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* .info {
  font-family: 'Inter', sans-serif;
} */

.info--title {
  font-size: 13px;
  color: #f3bf99;
  margin: 0;
  font-weight: 400;
}

.info--name {
  font-size: 25px;
  margin: 20px auto 3px auto;
  font-weight: 700;
}

.info--website {
  font-size: 10px;
  color: #f5f5f5;
  margin: 8px auto;
  font-weight: 400;
}

.info--buttons {
  width: 250px;
  margin: 15px auto;
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.info--buttons > button {
  width: 115px;
  height: 100%;
  border-radius: 6px;
  border: none;
  line-height: 35px;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  padding: 0;
}

.info--buttons--email {
  padding-right: 10px;
  vertical-align: middle;
  margin: 0px 0px 3px 0px;
}

.info--buttons--linkedin {
  background-color: #5093e2;
  color: white;
}

.info--buttons--linkedin--icon {
  padding-right: 10px;
  border-radius: 0;
  vertical-align: middle;
  margin: 0px 0px 4px 0px;
  /* align-items: center;
  justify-content: center; */
}

.about,
.interests {
  width: 250px;
  margin: 0 auto;
  text-align: left;
}

.about--title,
.interests--title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  margin: 25px 0 5px 0;
}

.about--para,
.interests--para {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.footer {
  margin: 20px auto;
  background-color: #161619;
  height: 65px;
  border-radius: 0 0 10px 10px;
  width: 100%;
  /* justify-content: space-evenly; */
}

.footer > img {
  margin: 19px 12px auto 12px;
  border-radius: 0;
}

